<html>
<head>
<meta>
<link>
<script>
<style>
<header><title></title></header>
</head>
<body>
<div><menu>menu</menu>
  <main>main</main>
</div>
<div>
<container>container</container>
</div>
</body>
<footer>footer</footer>
</html>
